<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Site Metas -->
	<title>Liên hệ</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="images/favicon.icon" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet'
		  type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	<!-- Site CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">

				<a class="navbar-brand" href="/home">
					<img src="/images/logo1.png" alt="Logo" class="tm-site-logo"/>
				</a>


				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="col-3">
					<form class="search-san-pham" action="#" th:action="@{/search}" method="GET">
						<div class="row">
							<input type="text" class="form-control" name="productName" placeholder="Tìm kiếm sản phẩm...">
							<button type="submit" ><i class="fa fa-search"></i></button>
						</div>
					</form>
				</div>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="col-12 navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/home">Trang chủ</a></li>
						<li class="nav-item"><a class="nav-link" href="/news">Bài viết</a></li>
						<li class="nav-item"><a class="nav-link" href="/menu">Sản phẩm</a></li>
						<li class="nav-item active"><a class="nav-link" href="/contact">Liên hệ</a></li>
					</ul>
					<div sec:authorize="isAnonymous()">
						<button class="btn login_btn"
								style="height: 50px; background-color: #75d8ff;">
							<a class="text-center" href="/login">Login</a>
						</button>
					</div>
					<div sec:authorize="hasRole('ADMIN')">
						<div class="dropdown ">
							<button class="btn login_btn" type="button"
									data-toggle="dropdown">
								<i class="fas fa-user-tie"></i><span sec:authentication="name"><span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="/admin"><i class="fas fa-user"></i>
									Quản lý cửa hàng</a></li>
								<li class="dropdown-divider"></li>
								<li><a href="/profile"><i class="fas fa-user"></i>
									Hồ sơ cá nhân</a></li>
								<li class="dropdown-divider"></li>
								<li><a href="/logout"><i class="fas fa-sign-out-alt"></i>
									Đăng xuất</a></li>
							</ul>
						</div>
					</div>

					<div sec:authorize="hasRole('STAFF')">
						<!--<span sec:authentication=name></span>
                        <span th:text ="${#authentication.getPrincipal().getAccount().getRole()}"></span>-->
						<div class="dropdown ">
							<button class="btn login_btn" type="button"
									data-toggle="dropdown">
								<i class="fas fa-user-tie"></i>
								<span sec:authentication="name"></span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="/staff/menu"><i class="fas fa-user"></i>
									Nhân viên</a></li>
								<li class="dropdown-divider"></li>
								<li><a href="/profile"><i class="fas fa-user"></i>
									Hồ sơ</a></li>
								<li class="dropdown-divider"></li>
								<li><a href="/logout"><i class="fas fa-sign-out-alt"></i>
									Đăng xuất</a></li>
							</ul>
						</div>
					</div>

					<div sec:authorize="hasRole('USER')">
						<div class="dropdown ">
							<button class="btn login_btn" type="button"
									data-toggle="dropdown">
								<i class="fas fa-user-tie"></i>
								<span sec:authentication="name"></span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="/profile"><i class="fas fa-user"></i>
									Hồ sơ</a></li>
								<li class="dropdown-divider"></li>
								<li><a th:href="@{'/historyOrder/' + ${account.username}}"><i class="fas fa-user"></i>
									Lịch sử mua hàng</a></li>
								<li class="dropdown-divider"></li>
								<li><a href="/logout"><i class="fas fa-sign-out-alt"></i>
									Đăng xuất</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	<div class="all-page-title page-breadcrumb" style="padding-top: 80px">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Các sản phẩm</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- Start All Pages -->
	<!-- End All Pages -->
	
	<!-- Start Contact -->
	<form action="#" th:action="@{/saveFeedback}" th:object="${feedback}"
			method="post">
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.8639210988163!2d108.25836811477662!3d15.968481188943212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142116949840599%3A0x365b35580f52e8d5!2zxJDhuqFpIGjhu41jIEZQVCDEkMOgIE7hurVuZyAoRlBUIHVuaXZlcnNpdHkgRGEgTmFuZyk!5e0!3m2!1svi!2s!4v1648807612173!5m2!1svi!2s" width="100%" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Phản hồi</h2>
						<p>Hãy gửi phản hồi của bạn về cửa hàng của chúng tôi</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form id="contactForm">
						<div class="row">		
							<div class="col-md-12">
								<div class="form-group"> 
									<textarea th:field="*{content}" class="form-control" id="message" placeholder="Phản hồi của bạn" rows="4" maxlength="8000" data-error="Write your message" required></textarea>
									<div class="help-block with-errors"></div>
								</div>
								<div class="submit-button text-center">
									<button class="btn btn-common" id="submit" type="submit">Gửi phản hồi</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div> 
									<div class="clearfix"></div> 
								</div>
							</div>
						</div>            
					</form>
				</div>
			</div>
		</div>
	</div>
	</form>
	<!-- End Contact -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Số điện thoại liên lạc</h4>
						<p class="lead">
							0236 3952 332
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							fptcity.support@fpt.com.vn
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Địa chỉ</h4>
						<p class="lead">
							FPT University, FPT City, Phường Hòa Hải, Quận Ngũ Hành Sơn, Thành phố Đà Nẵng
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<h3>Cửa hàng</h3>
					<p>Mini-mart đã được mở tại Đà Nẵng! Chúng tôi rất vui khi được giới thiệu với bạn về của hàng của chúng tôi.
						Nếu bạn muốn có một trải nghiệm mua sắm thú vị, mini-mart sẽ cung cấp cho bạn đầy đủ những mặt hàng mà bạn
						cần như thức ăn, đồ uống, bánh kẹo,...</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3>Thời gian mở của</h3>
					<p><span class="text-color">Thứ 2 - Thứ 6 </span>8:AM - 10:PM</p>
					<p><span class="text-color">Cuối tuần: </span>8:AM - 12:PM</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3>Thông tin liên hệ</h3>
					<p class="lead">FPT University, FPT City, Phường Hòa Hải, Quận Ngũ Hành Sơn, Thành phố Đà Nẵng</p>
					<p class="lead"><a href="#">0236 3952 332</a></p>
					<p><a href="#">fptcity.support@fpt.com.vn</a></p>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">

						<p class="copy_right text-center">
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | <a
								href="#"> Mini-mart </a> | Design By :
							<a href="https://www.fpt-software.com/">mini-mart's team</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	
	<script src="js/jquery.superslides.min.js"></script>
	<script src="js/images-loded.min.js"></script>
	<script src="js/isotope.min.js"></script>
	<script src="js/baguetteBox.min.js"></script>
	<script src="js/jquery.mapify.js"></script>
	<script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
	<script>
		$('.map-full').mapify({
			points: [
				{
					lat: 40.7143528,
					lng: -74.0059731,
					marker: true,
					title: 'Marker title',
					infoWindow: 'Maison Coffee'
				}
			]
		});	
	</script>
</body>
</html>