<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- Responsive CSS -->
	<link rel="shortcut icon" href="images/favicon.icon" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
	<script defer src="/fontawesome-free-5.15.3-web/js/all.js"></script>
	<link href="/fontawesome-free-5.15.3-web/css/fontawesome.css" rel="stylesheet">
	<link href="/fontawesome-free-5.15.3-web/css/brands.css" rel="stylesheet">
	<link href="/fontawesome-free-5.15.3-web/css/solid.css" rel="stylesheet">
	<script defer src="/fontawesome-free-5.15.3-web/js/brands.js"></script>
	<script defer src="/fontawesome-free-5.15.3-web/js/solid.js"></script>
	<script defer src="/fontawesome-free-5.15.3-web/js/fontawesome.js"></script>
	<title>Chỉnh sửa loại sản phẩm</title></head>
<body>
<header class="top-navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/home">
				<img th:src="@{/images/logo1.png}" alt="Logo" class="tm-site-logo" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
					aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="col-3">
				<form class="search-san-pham" action="#" th:action="@{/searchByStaff}" method="GET">
					<div class="row">
						<input type="text" class="form-control" name="productName" placeholder="Tìm kiếm sản phẩm..." style="width: 185px">
						<button type="submit" ><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
			<div class="collapse navbar-collapse" id="navbars-rs-food">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link " href="/staff/menu">Cửa hàng</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link " href="/cart"
						>Giỏ hàng</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown-a"
						   data-toggle="dropdown">Quản lý</a>
						<div class="dropdown-menu" aria-labelledby="dropdown-a">
							<a class="dropdown-item" th:href="@{'/billStaff/' + ${account.username}}">Hóa đơn</a>
							<a class="dropdown-item" href="/staff/category">Loại sản phẩm</a>
							<a class="dropdown-item" href="/staff/product"> Sản phẩm</a>
							<a class="dropdown-item" href="/staff/supplier">Nhà cung cấp</a>
							<a class="dropdown-item" href="/staff/news">Bài viết</a>
						</div>
					</li>
					<div class="dropdown col-3">
						<button class="btn login_btn" type="button"
								data-toggle="dropdown">
							<i class="fas fa-user-tie"></i>Xin chào nhân viên<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" style="margin-left: 15px">
							<li ><a href="/profile"><i class="fas fa-user"></i>
								Hồ sơ</a></li>
							<li class="dropdown-divider"></li>
							<li><a href="/login"><i class="fas fa-sign-out-alt"></i>
								Đăng xuất</a></li>
						</ul>
					</div>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="container-fluid" style="padding-top: 150px;">
	<form class="card mt-4" action="#" th:action="@{/saveCategoryByStaff}" th:object="${category}" method="post">
		<div class="card-header text-center">
			<h1>Chỉnh sửa loại sản phẩm</h1>
		</div>
		<form class="row g-3 ml-2">
			<div class="col-12">
				<input type="hidden" th:field="*{id}" class="form-control" placeholder="Ex: Tra Sua">
			</div>
			<div class="col-md-12">
				<label class="form-label">Loại sản phẩm</label>
				<input type="text" th:field="*{type}" class="form-control">
			</div>
			<div class="col-6 mb-6">
				<button type="submit" class="btn btn-outline-success">Lưu chỉnh sửa</button>
				<a type="submit" href="/staff/category" class="btn btn-outline-danger">Quay lại trang</a>
			</div>
		</form>
</div>
</div>
<!-- CSS -->
<style>
	.card {
		margin-left: 12rem;
		width: 72rem;
	}

	.row {
		margin: auto;
	}

	body {
		background-size: cover;
		background-repeat: no-repeat;
	}
</style>
</body>
</html>