<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive CSS -->
    <link rel="icon" href="/images/iconlogo.png" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.icon" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <script defer src="/fontawesome-free-5.15.3-web/js/all.js"></script>
    <link href="/fontawesome-free-5.15.3-web/css/fontawesome.css" rel="stylesheet">
    <link href="/fontawesome-free-5.15.3-web/css/brands.css" rel="stylesheet">
    <link href="/fontawesome-free-5.15.3-web/css/solid.css" rel="stylesheet">
    <script defer src="/fontawesome-free-5.15.3-web/js/brands.js"></script>
    <script defer src="/fontawesome-free-5.15.3-web/js/solid.js"></script>
    <script defer src="/fontawesome-free-5.15.3-web/js/fontawesome.js"></script>
    <title>Xem doanh thu theo nhân viên</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/chart.js"></script>
</head>

<body>
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img th:src="@{/images/logo1.png}" alt="Logo" class="tm-site-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-3">
                <form class="search-san-pham" action="#" th:action="@{/admin/product/search}" method="GET">
                    <div class="row">
                        <input type="text" class="form-control" name="productName" placeholder="Tìm kiếm sản phẩm...">
                        <button type="submit" ><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="/admin/staff"
                        >Quản lý nhân viên</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a"
                           data-toggle="dropdown">Quản lý</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="/bill">Hóa đơn</a>
                            <a class="dropdown-item" href="/incomeform">Doanh thu</a>
                            <a class="dropdown-item" href="/admin/category">Loại sản phẩm</a>
                            <a class="dropdown-item" href="/admin/product">Sản phẩm</a>
                            <a class="dropdown-item" href="/admin/supplier">Nhà cung cấp</a>
                            <a class="dropdown-item" href="/admin/feedback">Phản hồi</a>
                            <a class="dropdown-item" href="/admin/news">Bài viết</a>
                            <a class="dropdown-item" href="/admin/checkProductExpiry">Kiểm tra thời hạn sản phẩm</a>
                            <a class="dropdown-item" href="/admin/checkProductQuantity">Kiểm tra sản phẩm sắp hết hàng</a>
                        </div>
                    </li>
                    <div class="dropdown ">
                        <button class="btn login_btn" type="button"
                                data-toggle="dropdown">
                            <i class="fas fa-user-tie"></i>Xin chào quản lý<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="/profile"><i class="fas fa-user"></i>
                                Hồ sơ</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a href="/login"><i class="fas fa-sign-out-alt"></i>
                                Đăng xuất</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container" style="padding-top: 200px">
    <div class="row">
        <div class="col-3">
            <a href="/admin/statistic/revenueByMonth">Thống kê doanh thu theo tháng</a>
            <hr>
            <a href="/admin/statistic/revenueByYear">Thống kê doanh thu theo năm</a>
            <hr>
            <a href="/admin/statistic/revenueByProduct">Thống kê doanh thu theo sản phẩm</a>
            <hr>
            <a href="/admin/statistic/revenueByCategory">Thống kê doanh thu theo loại sản phẩm</a>
            <hr>
            <a href="/admin/statistic/revenueByStaff">Thống kê doanh thu theo nhân viên</a>
        </div>
        <div class="col-9">
            <div  class="col-md-6">
                <label style="margin-top: 15px" class="form-label">Tháng: </label>
                <select class="form-select" aria-label="Default select example" id="month">
                    <option >1</option>
                    <option >2</option>
                    <option selected="selected" >3</option>
                    <option >4</option>
                    <option >5</option>
                    <option >6</option>
                    <option >7</option>
                    <option >8</option>
                    <option >9</option>
                    <option >10</option>
                    <option >11</option>
                    <option >12</option>
                </select>
                <label style="margin-top: 15px" class="form-label">Năm: </label>
                <select class="form-select" aria-label="Default select example" id="year">
                    <option selected="selected">2022</option>
                    <option >2021</option>
                    <option >2020</option>
                    <option >2019</option>
                    <option >2018</option>
                </select>
                <a type="button" class="yes btn btn-outline-success" onclick="onCheck()">Kiểm tra</a>
            </div>
            <div>
                <canvas id="myChart"></canvas>
            </div>
            <div class="container-fluid" style="margin-top: 4rem;">
                <div class="container-fluid" style="padding-top: 50px">
                    <div class="main-body">
                        <div class="row gutters-sm">
                            <div class="col-md-12">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <h1>Số liệu doanh thu</h1>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3 row">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nhân viên</th>
                        <th scope="col">Doanh thu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="th" th:each="bill:${list}">
                        <th id="col1" scope="col" th:text="${bill.text}"></th>
                        <th id="col2" scope="col" th:text="${bill.count}"></th>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let label = [], color = [];
    var length = document.getElementsByClassName('th').length;
    for (let i = 0; i < length; i++)
    {
        let text = document.querySelectorAll('#col1').item(i).textContent;
        let colo = document.querySelectorAll('#col2').item(i).textContent;
        label.push(text);
        color.push(colo);
    }
    window.onload = function (){
        createChart("myChart", label, color);
    }

    function  createChart(id, label = [], colorInfo = []){
        let rgb = [];
        let rgbb = [];
        for(let i = 0; i < colorInfo.length; i++){
            rgb.push(generateColor())
            rgbb.push(generateColorBorder())
            console.log(generateColor())
        }
        let year = document.getElementById("year").value;
        let month = document.getElementById("month").value;
        const data = {

            labels: label,
            datasets: [{
                label: 'Thống kê doanh thu cửa hàng theo nhân viên tháng 3 năm 2022',
                data: colorInfo,
                fill: false,
                backgroundColor: rgbb,
                borderColor: rgb,
                borderWidth: 1
            }]
        };
        const config = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };

        let  ctx = document.getElementById(id).getContext("2d");
        new Chart(ctx, config);

    }
    function onDelete(element){
        var id = $(element).attr('data-id');
        console.log(element)
        console.log(id);
        $("#itemId").val(id);
        $("#exampleModalCenter").modal('show');
        $(".yes").prop("href", "/deleteProduct/"+id)
    }
    function onCheck() {
        let year = document.getElementById("year").value;
        let month = document.getElementById("month").value;
        $(".yes").prop("href", "/admin/statistic/revenueByStaff/"+month+"/"+year)
    }
</script>
</body>

</html>